body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  z-index: 0;
  background-color: #14011b; /* Fallback for the background */
}

.connected-dots {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Keep dots behind content */
  background-color: #14011b;
  width: 100%;
  height: 100%;
}
