@keyframes hand-wave {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg); 
    }
    50% {
      transform: rotate(0deg); 
    }
    75% {
      transform: rotate(-5deg); 
    }
    100% {
      transform: rotate(0deg); 
    }
  }
  
  .mave {
    display: inline-block;
    animation: hand-wave 0.8s ease-in-out infinite; 
    transform-origin: 70% 70%; 
  }
  
      