nav {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  body {
    padding-top: 80px; 
  }
.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .navbar.scrolled {
    background-color: #3e0552ca; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  

  
 
  